* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  width: 85%;
  height: 30px;
  display: grid;
  grid-template-columns: 100px 1fr repeat(3, 100px);
  grid-template-rows: 30px;
  grid-gap: 1rem;
  margin: 10px auto;
}
.nav-about {
  grid-column: 3/4;
}
.nav-btn {
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}